@import "../../consts/mixins.scss";

.flight-points {
  .flight-points__city {
    color: $text-color-dark;
    text-align: right;
  }
  .flight-points__date {
    color: $text-color-gray;
    text-align: right;
  }
  .flight-points__city:last-of-type,
  .flight-points__date:last-of-type {
    text-align: left;
  }
}
