@import "../../consts/mixins.scss";

.transfers-arrow {
    width: 150px;
    @include to-center_column();
    .transfers-arrow__text {
        text-align: center;
        color: $text-color-gray;
    }
    .transfers-arrow__img {
        width: 100%;
    }
}