$background-color: #f3f7fa;
$blocks-color: #fff;
$button-price-color: #ff6d00;
$currency-color: #2196f3;
$text-color-dark: #4a4a4a;
$text-color-light: #fff;
$text-color-gray: #8b9497;
$border-color: #d2d5d6;
$shadow-color: #d8e6ec;

$font-family: Arial, Helvetica, sans-serif;
$borders-default: 1px solid $border-color;
$borber-radius: 5px;
$transition: opacity 0.3s linear;
