@import "../../consts/mixins.scss";
.ticket-date-and-time {
    @include to-center_column($justify: flex-start);
    align-self: flex-start;
    width: 65%;
    .ticket-date-and-time__data {
        width: 100%;
        @include to-center_row($justify: space-around);
        align-self: flex-start;
        margin-top: 20px;
    }
    .ticket-date-and-time__data:last-child {
        margin: 0;
    }
    .ticket-date-and-time__separator {
        width: 15%;
    }
}
